
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Lato,sans-serif;
}
h1 {
  font-size: 36px;
  margin-top: 100px;
  text-align: center;
  color: #08090A;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.25em;
  text-align: justify;
}

ul {
  list-style: none;
}

li {
  font-size: 1.25em;
}


.custom-snackbar {
  font-size: 1.2rem;
}

body{
  background-color: #F4F7F5;
}

.login-body-class {
  background-image: url(./assets/imgs/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.register-body-class {
  background-image: url(./assets/imgs/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

@media screen and (max-width: 900px) {
h1 {
  margin-top: 300px;
}
}
