<section class="login">
  <div class="login-login">
    <form [formGroup]="loginForm" class="formulario_login">
      <h2>Iniciar sesión</h2>
      <mat-form-field appearance="outline">
        <mat-label>Correo electrónico</mat-label>
        <input matInput formControlName="email" placeholder="Correo electrónico">
        <mat-error *ngIf="email?.invalid && email?.touched">Correo inválido</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Contraseña">
        <mat-error *ngIf="password?.invalid && password?.touched">La contraseña es requerida</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="validarFormulario()">Entrar</button>
    </form>
  </div>
  <div class="login-register">
    <h3>¿Aún no tienes cuenta?</h3>
    <p>Regístrate para disfrutar los beneficios</p>
    <button mat-button (click)="redirigirARegister()" id="btn_registrarse">Registrarse</button>
  </div>
</section>
