.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  margin: 0;
}

.login-login {
  width: 100%;
  max-width: 500px;
}

.login-login form {
  background: #F4F7F5;
  border-radius: 20px;
  padding: 75px 50px;
}

.login-login form h2 {
  font-size: 30px;
  text-align: center;
  color: #222823;
  margin-bottom: 25px;
}

.login-login form input {
  border: none;
  background-color: #F4F7F5;
  font-size: 16px;
}

.login-login form input:focus {
  outline: none;
}

.login-login form button {
  display: flex;
  margin: 0 auto;
  margin-top: 25px;
  padding: 20px 40px;
  border: solid 2px #222823;
  font-size: 16px;
  background: #222823;
  color: #F4F7F5;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  font-weight: bold;
}

.login-login form button:hover {
  background: #F4F7F5;
  color: #222823;
  border: solid 2px #222823;
}

.login-register {
  display: block;
  color: #F4F7F5;
  padding: 150px 75px;
  background-color: #22282380;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  position: relative;
}

.login-register p {
  margin-top: 30px;
}

.login-register button {
  color: #F4F7F5;
  background: transparent;
  border: 2px solid #F4F7F5;
  cursor: pointer;
  margin-top: 25px;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

.login-register button:hover {
  background-color: #F4F7F5;
  color: #22282380;
}

mat-form-field {
  display: flex;
}
