.movie-details{
  max-width: 1280px;
  display: flex;
  margin: auto;
  border: solid 2px #08090A;
}

.movie-details img {
  display: block;
  margin: auto;
  width: 300px;
  height: 450px;
  margin: 20px;
}

.movie-info{
  margin: 20px;
  min-width: 200px;
}

.movie-details h3{
  font-size: 20px;
  color: #222823;
}
.movie-details p{
  color: #575A5E;
  font-size: 18px;
}
.movie-details label{
  color: #575A5E;
  font-size: 18px;
}

.movie-details select{
  color: #575A5E;
  font-size: 18px;
  margin-left: 10px;
}


@media screen and (max-width: 900px) {
}
