<h1>Mis Reservas</h1>

<section class="movies-list">
  <div class="table-wrapper">
    <table class="movie-table">
      <thead>
        <tr>
          <th>ID Reserva</th>
          <th>ID Usuario</th>
          <th>Película</th>
          <th>Sala</th>
          <th>Silla</th>
          <th>Horario</th>
          <th>Estado</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of bookings">
          <td>{{ booking.id_reserva }}</td>
          <td>{{ booking.FK_identificacion }}</td>
          <td>{{ booking.FK_idpelicula }}</td>
          <td>{{ booking.FK_idsala }}</td>
          <td>{{ booking.id_silla }}</td>
          <td>{{ booking.horario }}:00 pm</td>
          <td>
            <span *ngIf="booking.estado === 1">Activa</span>
            <span *ngIf="booking.estado === 0">Cancelada</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
