.hero {
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  max-width: 1600px;

}

.hero img {
  border-radius: 20px;
  width: 100%;
}

h2 {
  margin-top: 10px;
}

/* billboard */
.billboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.billboard .container {
  margin: 10px;
  max-width: 400px;
  border: solid 2px #08090A;
  flex: 1;
  padding: 20px;
}

.billboard .movie-info {
  margin: 10px;
}

.billboard h3 {
  text-align: left;
  font-size: 18px;
  color: #222823;
}

.billboard p {
  color: #575A5E;
  font-size: 16px;
}

.billboard img,
button {
  display: block;
  margin: auto;
  max-width: 300px;
  width: 300px;
  height: 450px;
  cursor: pointer;
}
