<section id="hero" class="hero">
  <div>
    <img src="../../../assets/imgs/familia-cine.jpg">
  </div>
  <div>
    <h3>Bienvenido a Quality Pictures</h3>
    <p>Conoce todos los servicios que tenemos para ti:</p>
  </div>
</section>
<h2>Estrenos</h2>
<section id="bill" class="billboard">
  <div class="container" *ngFor="let movie of movies">
    <button (click)="movieDetail(movie.id)"><img [src]="movie.img_promocional" alt="{{ movie.titulo }} Poster"></button>
    <div class="movie-info">
      <h3>{{ movie.titulo }}</h3>
      <p><strong>Género: </strong>{{ getGenreName(movie.id_genero) }}</p>
      <p><strong>Duración: </strong>{{ movie.duracion }} minutos</p>
    </div>
  </div>
</section>
<h2>Reservas</h2>
<section class="booking">
</section>
