<h1>Elige tus asientos</h1>
<div class="seat-container">
  <div class="seat-row" *ngFor="let row of rows">
      <div class="seat" *ngFor="let seat of row">
          <img src="../../../assets/imgs/asiento_cine.png" alt="Asiento de cine">
      </div>
  </div>
</div>

<div class="info-book">
  <p>Recuerda que tu película es: <strong><i>{{movieDetails.titulo}}</i></strong>, en formato <strong><i>{{movieDetails.formato}}</i></strong></p>
</div>
<!--
<h1>{{movieDetails.titulo}}</h1>
<section class="movie-details">
  <img [src]="movieDetails.img_promocional" alt="{{ movieDetails.titulo }} Poster">
  <div class="movie-info">
    <h3>Sinopsis:</h3>
    <p>{{movieDetails.sinopsis}}</p>
    <br>
    <p><strong>Género: </strong>{{ getGenreName(movieDetails.id_genero) }}</p>
    <br>
    <p><strong>Duración: </strong>{{movieDetails.duracion}} minutos</p>
    <br>
    <p><strong>Formato: </strong>{{movieDetails.formato}}</p>
    <br>
    <p><strong>Precio: </strong>{{movieDetails.precio}}.000$</p>
    <br>
    <label for="horario"><strong>Horario:</strong></label>
    <button>Reserva ahora</button>
  </div>
</section>
-->

