<h1>Administrar productos</h1>
<section class="movies-list">
  <h2>Listado de películas</h2>
  <div class="table-wrapper">
    <table class="movie-table">
      <thead>
        <tr>
          <th>Título</th>
          <th>Género</th>
          <th>Sinopsis</th>
          <th>Imagen promocional</th>
          <th>Formato</th>
          <th>Duración</th>
          <th>Valor de la boleta</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movies">
          <td>{{ movie.titulo }}</td>
          <td>{{ getGenreName(movie.id_genero) }}</td>
          <td class="sinopsis">{{ movie.sinopsis }}</td>
          <td><img [src]="movie.img_promocional" alt="Imagen promocional" style="max-width: 100px;"></td>
          <td>{{ movie.formato }}</td>
          <td>{{ movie.duracion }} min</td>
          <td>{{ movie.precio }}.000$</td>
          <td>
            <button>Editar película</button>
            <button>Eliminar película</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<section class="add-movie">
  <h2>Añadir película</h2>
  <form #movieForm (submit)="enviarPelicula($event)">
    <div> <label>Título:</label>
      <input type="text" name="titulo" required>
    </div>
    <div> <label>Sinopsis</label>
      <textarea name="sinopsis" required></textarea>
    </div>
    <div>
      <label for="formato">Formato:</label>
      <select id="formato" name="formato" required>
        <option value="2D">2D</option>
        <option value="3D">3D</option>
      </select>
    </div>

    <div> <label>Duración</label>
      <input type="number" name="duracion" required>
    </div>
    <div> <label>Imagen promocional</label>
      <input type="text" name="img_promocional" required>
    </div>
    <div> <label>Precio</label>
      <input type="number" name="precio" required>
    </div>
    <div>
      <label>Horario</label>
      <input type="text" name="horario">
    </div>
    <div>
      <label for="genero">Género</label>
      <select id="genero" name="id_genero" required>
        <option value="1">Accion</option>
        <option value="2">Aventura</option>
        <option value="3">Comedia</option>
        <option value="4">Ciencia Ficcion</option>
        <option value="5">Animacion</option>
        <option value="6">Drama</option>
        <option value="7">Documentales</option>
        <option value="8">Fantasia</option>
        <option value="9">Terror</option>
      </select>
    </div>

    <button type="submit">Enviar</button>
  </form>
</section>
<section class="reserves-list">
  <h2>Listado de reservas</h2>
  <div class="table-wrapper">
    <table class="movie-table">
      <thead>
        <tr>
          <th>ID Reserva</th>
          <th>ID Usuario</th>
          <th>Correo</th>
          <th>Película</th>
          <th>Sala</th>
          <th>Silla</th>
          <th>Horario</th>
          <th>Estado</th>
          <th>Administrar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of bookings">
          <td>{{ booking.id_reserva }}</td>
          <td>{{ booking.FK_identificacion }}</td>
          <td>{{ booking.correo }}</td>
          <td>{{ booking.FK_idpelicula }}</td>
          <td>{{ booking.FK_idsala }}</td>
          <td>{{ booking.id_silla }}</td>
          <td>{{ booking.horario }}:00 pm</td>
          <td>
            <span *ngIf="booking.estado === 1">Activa</span>
            <span *ngIf="booking.estado === 0">Cancelada</span>
          </td>
          <td><button>Cancelar reserva</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
