h2 {
  text-align: center;
  margin: 50px auto;
}

.table-wrapper {
  margin: auto 5%;
}

.movie-table {
  border-collapse: collapse;
  width: 100%;
}

.movie-table th,
.movie-table td {
  border: 2px solid #08090A;
  padding: 8px;
  text-align: center;
}

.movie-table th {
  background-color: #F4F7F5;
}

.add-movie {
  background-color: #F4F7F5;
  margin: 20px;
}
.add-movie form {
  display: block;
  border: solid 2px #08090A;
  border-radius: 10px;
  max-width: 720px;
  margin: auto;
  padding: 50px;
  background-color: #F4F7F5;
}

.add-movie form div {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
}

.add-movie form div input {
  width: 80%;
  height: 25px;
  padding: 10px;
  font-size: 17px;
  border: solid 2px #08090A;
  border-radius: 10px;
  padding: 10px;
}

.add-movie form div textarea {
  width: 80%;
  max-width: 80%;
  min-width: 80%;
  padding: 10px;
  border: 2px solid #08090A;
  border-radius: 10px;
}
.add-movie form div select {
  background-color:#F4F7F5;
  padding: 10px;
  border: 2px solid #08090A;
  border-radius: 10px;
}


#genero,
#formato {
  padding: 5px;
  font-size: 17px;
  border: 2px solid #08090A;
  border-radius: 10px;
  background-color: #f9f9f9;
  color: #08090A;
}
.add-movie form button {
  padding: 10px 20px;
  display: block;
  margin: auto;
  cursor: pointer;
}

.sinopsis {
  text-align: justify !important;
}
