h2{
  text-align: center;
  margin: 50px auto;
}
.table-wrapper{
margin: auto 5%;
}
.movie-table {
  border-collapse: collapse;
  width: 100%;
}

.movie-table th, .movie-table td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: center;
}

.movie-table th {
  background-color: #f2f2f2;
}

.add-movie  form{
  display: block;
  border: solid 2px #000000;
  border-radius: 10px;
  max-width: 720px;
  margin: auto;
  padding: 50px;

}

.add-movie  form div{
display: flex;
margin: auto;
justify-content: center;
align-items: center;
flex-direction: column;
margin: 20px auto;
}
.add-movie  form div input{
  width: 80%;
height: 25px;
}
.add-movie  form div textarea{
  width: 80%;
  max-width: 80%;
  min-width: 80%;
}

.add-movie  form button{
padding: 10px 20px;
display: block;
margin: auto;
cursor: pointer;
}
.sinopsis{
  text-align: justify !important;
}
