.information{
  max-width: 600px;
  display: block;
  margin: auto;
  border: solid 2px #222823;
  border-radius: 10px;
  padding: 20px;
  margin-top: 100px ;
}
.information h2{
text-align: center;
}
.information p{
margin: 10px;
}
